*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #e17d54;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    background: #221a1a;
    width: 220px;
    height: 460px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 5px rgba(0,0,0,.2);
}

.upper
{
    height: 50%;
    width: 100%;
    padding: 15px;
    font-family: consolas;
}
.wrapper
{
    background: gray;
    background: #cd3e00;
}
.rectangle
{
    position: relative;
    height: 200px;
    width: 190px;
    background:    linear-gradient(to right, #0a8e9e 99.9%, transparent),
                            linear-gradient(to bottom, #0a8e9e 99.9%, transparent),
                            linear-gradient(to right, #0a8e9e 99.9%, transparent),
                            linear-gradient(to bottom, #0a8e9e 99.9%, transparent),
                            linear-gradient(to right, #0a8e9e 99.9%, transparent);
    background-size: 50% 10px, 10px 100%, 100% 10px, 10px 100%, 95px 10px;
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 0px, 0px 190px, 180px 0px, 95px 0px;
}

.div-clock
{
    font-size: 35px;
    text-align: center;
    color: #0a8e9e;
    border:none;
    width: 170px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    position: relative;
    left:10px;
    top:10px;
}

#clock span
{
    display: inline-block;
    width:35px;
}

.heading
{
    text-align: center;
    font-size:21px;
    margin-bottom: 15px;
}

.heading .break
{
    display: none;
    color: #cd3e00;
}

.heading .session
{
    display: block;
    color: #0a8e9e;
}

.middle
{
    border: 0;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    margin: 0 10px;
    display: flex;
    padding: 20px 0;
}

section
{
    padding: 0 10px;
    text-align: center;
    width:50%;
}

section p
{
    font-size:13px;
    font-family: arial;
}

section h4
{
    margin: 8px 0;
}

section.left h4
{
    color: #0a8e9e;
}

section.right h4
{
    color: #dd6330;
}

.buttons
{
    display: flex;
    justify-content: space-around;
}

.btn{
    background: #000;
    cursor: pointer;
    width: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

.buttons-lg
{
    display: flex;
    justify-content: space-around;
    padding: 18px 15px;
}

.btn-lg
{
    font-size:20px;
    padding: 8px 12px;
    width: auto;
}